extends layout

block content
  h1 Title: #{title}

  p #[strong Name:] #{name}
  p #[strong Category:] 
    a(href=category.url) #{category.name}
  p #[strong Copies:] #{numberOfStock}
  p #[strong Price:] #{price}$